.main_section {
    background: url(../assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    /*width: calc(100vw - 80px);*/
    min-height: calc(100vh - 56px);
    /*max-height: 1034px;*/
    border-radius: 32px;
    padding: 48px 80px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    /*border-bottom: 1px solid #282828;*/
}

.header_logo {
    display: flex;
    gap: 56px; 
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.services {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 15px 16px;
    border: none;
    border-radius: 8px;
    background: #FF001D;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

nav {
    display: flex;
    gap: 72px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

ul {
    display: flex;
    gap: 56px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #FFF; 
    text-decoration: none; 
}

.headerLine {
    background-color: #282828;
    width: 100%;
    height: 1px;
    margin-top: 48px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

main h1 {
    color: #FFF;
    width: 50%;
    font-size: 64px;
    font-weight: 500;
    line-height: 110%;
}

.rw-btn {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 32px;
}

.red-btn {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: #FFF;
    padding: 1rem 2rem;
    background-color: #FF001D;
    border: none;
    border-radius: 1rem;
    line-height: 120%;
    cursor: pointer;
}

.red-btn:hover {
    background-color: var(--hovered-primary);
}

.white-btn {
    background-color: transparent;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: #FFF;
    padding: 1rem 2rem;
    border: 2px solid rgba(255, 255, 255, 0.20);
    border-radius: 1rem;
    line-height: 120%;
    cursor: pointer;
}

.white-btn:hover {
    background-color: rgba(255, 255, 255, 0.10);
}